@import '../styles/base/variables';
@import './base/mixins';

body {
    font-family: 'Poppins', sans-serif;
    background-color: $background;
    color: $text-color;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    color: $primary-color;
}

button {
    background-color: $primary-color;
    color: $white;
    border: none;
    border-radius: $border-radius;
    padding: 10px 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
        background-color: $primary-hover;
    }
}