// src/styles/main.scss
@import './base/variables';
@import './base/mixins';
@import './base/reset';

@import './components/button';
@import './components/card';
@import './components/alert';

@import './pages/login';
@import './pages/dashboard';

body {
  font-family: $font-family;
  background-color: $bg-color;
  margin: 0;
  padding: 0;
  color: $text-color;
}