// src/styles/base/_variables.scss

// Cores
$primary-color: #4a90e2;
$primary-hover: darken($primary-color, 8%);
$background-light: #ffffff;
$secondary-color: #f5f7fa;
$background: #f4f6f8;
$text-color: #222222;
$white: #ffffff;
$black: #000000;
$gray: #cccccc;
$error-color: #e74c3c;
$success-color: #27ae60;

// Outros
$border-radius: 8px;
$shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$font-family: 'Poppins', sans-serif;
$font-family-alt: 'Inter', sans-serif;
$bg-color: $background;
$transition: 0.3s ease-in-out;