.dashboard-container {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;

    h1 {
        text-align: center;
        margin-bottom: 20px;
        color: $primary-color;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid $gray;
        }

        tr:hover {
            background-color: $background-light;
        }

        th {
            background-color: $primary-color;
            color: $white;
        }
    }
}