.alert {
    padding: 1rem;
    border-radius: $border-radius;
    margin-bottom: 1rem;

    &--success {
        background-color: rgba($success-color, 0.1);
        border-left: 4px solid $success-color;
    }

    &--error {
        background-color: rgba($error-color, 0.1);
        border-left: 4px solid $error-color;
    }
}